@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta el scrollbar nativo */
::-webkit-scrollbar {
  width: 3px; /* Anchura del scrollbar */
  background: #c7c7d3;
}

/* Estiliza el track del scrollbar (fondo) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

/* Estiliza el thumb del scrollbar (la barra deslizante) */
::-webkit-scrollbar-thumb {
  background: #8497bf; /* Color del thumb */
}

/* Estiliza el thumb del scrollbar cuando está siendo activado */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cambia el color del thumb al pasar el mouse sobre él */
}
