@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta el scrollbar nativo */
::-webkit-scrollbar {
  width: 3px; /* Anchura del scrollbar */
  height: 3px; /* Altura del scrollbar */
  background: #c7c7d3;
}

/* Estiliza el track del scrollbar (fondo) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

/* Estiliza el thumb del scrollbar (la barra deslizante) */
::-webkit-scrollbar-thumb {
  background: #8497bf; /* Color del thumb */
}

/* Estiliza el thumb del scrollbar cuando está siendo activado */
::-webkit-scrollbar-thumb:hover {
  background: #8497bfb2; /* Cambia el color del thumb al pasar el mouse sobre él */
}

.menu > ul > li > div:nth-child(1),
.menu > ul > ul > li > div:nth-child(1){
  @apply px-5;
}
.menu > ul > li div  ul >  li > div:nth-child(1),
.menu > ul > ul > li div  ul >  li > div:nth-child(1){
  @apply pl-7 pr-5;
}

.menu > ul > li div  ul >  li div  ul >  li > div:nth-child(1),
.menu > ul > ul > li div  ul >  li div  ul >  li > div:nth-child(1){
  @apply pl-10 pr-5;
}
